{% extends "base.html" %}
{% load static %}


{% block body %}

    <div class="container  top-m">
        <div class="row ">
            <div class="col-md-4 text-center">
                <img src="https://picsum.photos/seed/picsum/200/300">
            </div>


            <div class="col-md-4">
                <h4> ELG-FIREARMS  SMART FORM</h4>
                <form class="row g-3">
                    <div class="col-md-6">
                        <label for="firstName" class="form-label">First name</label>
                        <input type="text" class="form-control" id="firstName">
                    </div>
                    <div class="col-md-6">
                        <label for="lastName" class="form-label">Last name</label>
                        <input type="text" class="form-control" id="lastName">
                    </div>
                    <div class="col-12">
                        <label for="inputEmail4" class="form-label">Email Address</label>
                        <input type="email" class="form-control" id="inputEmail4" placeholder="Email Address">
                    </div>

                    <p>Richard McClintock, a Latin scholar from Hampden-Sydney College, is credited with discovering the source behind the ubiquitous filler text. In seeing a sample of lorem ipsum, his interest was piqued by consectetur—a genuine, albeit rare, Latin word.</p>
                    <div class="col-12">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="gridCheck">
                            <label class="form-check-label" for="gridCheck">
                                Check me out
                            </label>
                        </div>
                    </div>

                    <div class="col-12">
                        <button type="submit" class="btn btn-danger">Submit <i class="fa-solid fa-bullseye"></i> </button>
                    </div>

                </form>
            </div>



            <div class="col-md-4 text-center">
                <img src="https://picsum.photos/seed/picsum/200/300">
            </div>
        </div>
    </div>

    {#    <div class="container top-m">#}
    {#        <div class="row mx-auto">#}
    {##}
    {#            <div class="col-md-1 ">#}
    {#                <img src="https://picsum.photos/seed/picsum/200/300">#}
    {#            #}
    {#            </div>#}
    {##}
    {#            <div class="col-md-4">#}
    {#                <form>#}
    {#                    <div class="mb-3">#}
    {#                        <label for="firstName" class="form-label">Email address</label>#}
    {#                        <input type="email" class="form-control" id="firstName" aria-describedby="emailHelp">#}
    {#                        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>#}
    {#                    </div>#}
    {#                    <div class="mb-3">#}
    {#                        <label for="exampleInputPassword1" class="form-label">Password</label>#}
    {#                        <input type="password" class="form-control" id="exampleInputPassword1">#}
    {#                    </div>#}
    {#                    <div class="mb-3 form-check">#}
    {#                        <input type="checkbox" class="form-check-input" id="exampleCheck1">#}
    {#                        <label class="form-check-label" for="exampleCheck1">Check me out</label>#}
    {#                    </div>#}
    {#                    <button type="submit" class="btn btn-primary">Submit</button>#}
    {#                </form>#}
    {#            </div>#}
    {##}
    {#            <div class="col-md-1 ">#}
    {#                <img src="https://picsum.photos/seed/picsum/200/300">#}
    {##}
    {#            </div>#}
    {##}
    {#        </div>#}
    {#    </div>#}


{% endblock %}