{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block body %}

<div class="container top-m">
  <div class="row">
    <div class="col-md-4 text-center">
      <img src="https://picsum.photos/seed/picsum/200/300">
    </div>

    <div class="col-md-4">
      <h4 class="text-center fw-bold"> ELG-FIREARMS  SMART FORM</h4>
      <form method="POST" action="{% url 'user_form' %}">
        {% csrf_token %}
        {{ form.as_p }}

        <div class="mb-3">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck" name="gridCheck">
            <label class="form-check-label " for="gridCheck">
              Check me out, to receive promotional emails and be added to our newsletter email list.
          </label>
          </div>
        </div>

        <button type="submit" class="btn btn-danger">Submit <i class="fa-solid fa-bullseye"></i> </button>
      </form>
    </div>

    <div class="col-md-4 text-center">
      <img src="https://picsum.photos/seed/picsum/200/300">
    </div>
  </div>
</div>

{% endblock %}
