SmartForm/.env
notes




# We do not need this dirt
/.idea
.idea
/.idea/dataSources.xml
/.idea/misc.xml
smart_emailApp/__pycache__
smart_emailApp/migrations/__pycache__
smart_formApp/migrations/__pycache__
smart_formApp/__pycache__
SmartForm/__pycache__