body, .navbar, .dropdown-menu{
    background-color: white !important;
    font-family: 'Roboto';
    font-size: 14px;
}

/* My Theme colors */
.color-orange{
    color: orange !important;

}
.bg-orange{
    background-color: orange !important;

}

.top-m{
     margin-top:15% !important;
}



/* The Modal (background) */
.modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 40% auto; /* 15% from the top and centered */
  padding: 10px;
  border: 1px solid #888;
  width: 100%; /* Could be more or less, depending on screen size */
}

/* Close Button */
.close {
  color: orangered;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

