{% extends "nav.html" %}
{% load static %}


{% block navbar %}

    <div class="container m-3 bg-light text-black mx-auto border rounded-3 shadow">
        <h4 class="text-center m-3 p-3 "> {{ what_to_create}}</h4>
        <div class="row p-3 ">
            <div class="col-8 mx-auto p-3 m-3 ">
                <form method="POST" class=""  enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input class="btn btn-primary" type="submit"  value="{{ submit_btn }}">
                </form>
            </div>
        </div>
    </div>

    <div id="myModal" class="modal  "tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content bg-white ">
                <div class="modal-header">
                    <h5 class="modal-title fw-bolder"><i class="fa-solid fa-circle-exclamation "></i> Important</h5>
                    <span class="close ms-auto "  data-bs-dismiss="modal" aria-label="Close"><i class="fa-solid fa-circle-xmark"></i></span>
                </div>
                <div class="modal-body">
                    <ul>
                        {% for info in list_info %}
                            <li>{{ info }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
