{% extends "nav.html" %}
{% load static %}

{% block navbar %}

<div class="container mt-3">
        <h1>Edit User</h1>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="first_name">First Name:</label>
                <input type="text" class="form-control" id="first_name" name="first_name" value="{{ user.first_name }}">
            </div>
            <div class="form-group">
                <label for="last_name">Last Name:</label>
                <input type="text" class="form-control" id="last_name" name="last_name" value="{{ user.last_name }}">
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" name="email" value="{{ user.email }}">
            </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="email_agreements" name="email_agreements" {% if user.email_agreements %}checked{% endif %}>
                <label class="form-check-label" for="email_agreements">Email Agreements</label>
            </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="subscribe_to_newsletter" name="subscribe_to_newsletter" {% if user.subscribe_to_newsletter %}checked{% endif %}>
                <label class="form-check-label" for="subscribe_to_newsletter">Subscribe to Newsletter</label>
            </div>
            <button type="submit" class="btn btn-primary">Update User</button>
        </form>
    </div>
{% endblock %}
