{% extends "nav.html" %}
{% load static %}

{% block navbar %}

    <div class="container">
        <div class="row">
            <h3 class="text-center">
                Scheduled Email
            </h3>

            <div class="col-5 bg-orange m-1 border  border-1">
                <h6 class="text-center m-1 fw-bold"> Email Task Scheduled</h6>
                <h1 class="text-white text-center">4</h1>
            </div>

            <div class="col-5 bg-info m-1 border  border-1">
                <h6 class="text-center m-1 fw-bold"> Scheduled This Week</h6>
                <h1 class="text-white text-center">2</h1>
            </div>

        </div>

        <div class="row mt-3">

            <div class="col-md-6">

                <div class="card m-3">
                    <div class="card-body">
                        <h5 class="card-title">Halloween  Sales</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <p class="fw-bold"> Starts:<span class="text-black">  October-15</span>  to: <span class="text-black">   November-15</span> </p>
                        <p class="fw-bold">Send to: All Users</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>

                <div class="card m-3">
                    <div class="card-body">
                        <h5 class="card-title">Black Friday Sales Promotion Email</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <p class="fw-bold"> Starts:<span class="text-black">  October-15</span>  to: <span class="text-black">   November-15</span> </p>
                        <p class="fw-bold">Send to: All Users</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>

                <div class="card m-3">
                    <div class="card-body">
                        <h5 class="card-title">Black Friday Sales Promotion Email</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <p class="fw-bold"> Starts:<span class="text-black">  October-15</span>  to: <span class="text-black">   November-15</span> </p>
                        <p class="fw-bold">Send to: All Users</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>

                <div class="card m-3">
                    <div class="card-body">
                        <h5 class="card-title">Black Friday Sales Promotion Email</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <p class="fw-bold"> Starts:<span class="text-black">  October-15</span>  to: <span class="text-black">   November-15</span> </p>
                        <p class="fw-bold">Send to: All Users</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>




        </div>
    </div>

{% endblock %}




