{% extends "nav.html" %}
{% load static %}

{% block navbar %}

    <div class="container">
        <div class="row">

            <h4 class="text-center m-3 mb-3 "> List of created Tasks</h4>

            <div class="row">


                <div class="col-6 m-3 p-3">
                    <form action="{% url 'search_task' %}" method="GET" class="d-flex mx-2" role="search">
                        {% csrf_token %}
                        <input class="form-control me-2 w-70%" name="search-task" id ="search-email" type="search" placeholder="Search for email" aria-label="Search">
                        <button class="btn btn-danger" type="submit" id="button-search"><i
                                class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </form>
                </div>

                <div class="col-4 ms-auto text-right">
                    <h5>Legend</h5>
                    <i class="fa-solid fa-circle text-success"> Active or Scheduled</i><br>
                    <i class="fa-solid fa-circle text-primary"> Not Scheculed</i><br>
                    <i class="fa-solid fa-circle text-danger"> STOPPED</i><br>
                   <i class="fa-solid fa-circle text-secondary"> Expired</i>
          
                </div>

            </div>

         
                

            

            {%  for task in tasks %}
                <div class="col-md-6 my-3">
                    <div class="card  border-white shadow-lg p-3 my-3 bg-body rounded">
                        <div class="card-body">
                            <h5 class="mb-3"><span class="card-title text-black fw-bolder ">{{  task.task_name }}</span>
                                {% if task.status == "Scheduled"%}
                                 <i class="fa-solid fa-circle text-success"></i>
                                 {% elif task.status == "Stopped"%}
                                 <i class="fa-solid fa-circle text-primary"></i>
                                {% elif task.status == "Expired"%}
                                <i class="fa-solid fa-circle text-secondary"></i>
                                {% else %}
                                <i class="fa-solid fa-circle text-primary"></i><br>
                                {% endif %}


                                
                                </h5>
                            <p class="card-text text-black">{{ task.task_description}}</p>
                            <p>Occurrence: <span class="card-text text-black fw-bolder">{{ task.task_occurence}}</span> </p>
{#                            <p>Recipients: <span class="card-text text-black fw-bolder">{{ task.recipients}}</span> </p>#}
                            <p>Email to send: <span class="card-text text-black fw-bolder">{{ task.emailToSend}}</span> </p>
                            <p class="card-text text-black fw-bolder text-center fs-5">Schedule</p>
                            <p>From: <span class="card-text text-black fw-bolder">{{ task.date_from}} --> {{ task.date_to_sending}} </span> </p>
{#                            <a href="{% url 'view_task_detail' task.id %}" class="btn btn-primary">View Detail</a>#}

                            {% if task.status == "Scheduled" %}
                            <form method="POST" action="{% url 'stop_task' task.id %}" class="d-inline">
                                {% csrf_token %}

                                <button class="btn btn-danger " type="submit"href="{% url 'stop_task' task.id %}"> STOP <i class="fa-solid fa-stop"></i></button>
                            </form>
                            {% endif %}

                            <a href="{%  url 'edit_task' task.id %}" class="btn btn-secondary">Edit</a>
                            <a href="{% url 'delete_task' task.id %}" class="btn btn-danger">Delete</a>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>

{% endblock %}




